.nav {
    grid-area: n;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 15px;
}

.Item {
    text-align: center;
    color: #4E5D78;
    font-weight: bold;

    background: white;
    border: 2px solid white;
    border-radius: 8px;
}

.Item_active {
    background-color: #657389;
    color: white;
}

a.active {

    display: block;
    border-radius: 8px;
    padding: 0px 0px;
    width: 200px;
    background: #657389;
    color: white;
}